.book-card {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s;
  text-decoration: none;
  color: var(--text-color-light);
}
.book-card:hover {
  transform: scale(110%);
}

.book-card__title {
  margin: 0.5rem;
  font-size: 1rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
  color: var(--text-color-light);
}

@media screen and (min-width: 768px) {
  .book-card {
    width: 12.5rem;
  }
}
@media screen and (min-width: 992px) {
}
