.loadScreen {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.book_description-p {
  display: block;
  color: var(--text-color-light);
  line-height: 1.4rem;
  padding: 0 0.5rem;
  overflow: hidden;
  /* height: calc(1.4rem * 5); */
}
.book_description-p.active {
  height: 100%;
}